html,
body {
    margin: 0;
}

#App {
    font-family: sans-serif;
    height: 100vh;
}

#page-wrap {
    text-align: center;
    overflow: auto;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: wheat;
    transition: color 0.2s;
}

.bm-item:hover {
    color: wheat;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.bm-burger-bars {
    background: wheat;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: wheat;
}

.bm-menu {
    background: black;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    opacity: 85%;
}

.bm-morph-shape {
    fill: black;
}

.bm-item-list {
    color: wheat;
}

.bm-overlay {
    background: black;
}