.example-blog-post{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 800px;
  /*  border: 3px solid rgb(49, 30, 30); */
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5px;
    padding: 10px;
}

.blog-post-text{
    text-align: center;
    border-bottom: 2px solid rgb(49, 30, 30);
}

#title{
    text-align: center;
}

#author-name{
    text-align: left;
    
}

#author-img{
    height: 400px;
    width: auto;
    
}/*
.about-author{
    border: 3 px solid black;
    width: 300px;
    float: right;
    top: 20px;
    margin: 50px;
    background-color: rgb(245, 239, 231);
    
}*/
.container{
    
    
}
