.example-blog-post{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 800px;
  /*  border: 3px solid rgb(49, 30, 30); */
    margin-left: auto; 
    margin-right: auto;
<<<<<<< HEAD
    margin-top: 100px;
    padding: 30px;
    background-color: rgb(245, 239, 231);
=======
    margin-top: 5px;
    padding: 10px;
>>>>>>> 01da0c118358e14c57abbc949ecb8b4b8718890d
}

.blog-post-text{
    text-align: center;
    border-bottom: 2px solid rgb(49, 30, 30);
}

#title{
    text-align: center;
}

#author-name{
    text-align: left;
    
}

#author-img{
    height: 400px;
    width: auto;
    
}/*
.about-author{
    border: 3 px solid black;
    width: 300px;
    float: right;
    top: 20px;
    margin: 50px;
    background-color: rgb(245, 239, 231);
    
}*/
.container{
<<<<<<< HEAD
    display: flex;
    justify-items: center;
    
}
=======
    
    
}
>>>>>>> 01da0c118358e14c57abbc949ecb8b4b8718890d
