.search{
    background: white;
    color: black;
    font-size: 15px;
    border-color: wheat;
    border-radius: 15px;
    width: 200px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    margin: 10px;
    margin-right: 20px;
    

}